.header {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
  background: teal;
}
.header a {
  text-decoration: none;
}

.active {
  font-size: large;
}